*{
    box-sizing: border-box;
}

.login{
    text-align: center;
    background-color:white;  
    width: 30%;
    margin: auto;
    border-radius: 30px; 
    padding: 20px 1px;
    
}
h1{
    text-align: center;
}
body{
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    margin-top: 230px;

}
button{
    padding: 5px;
    border-width: 1px;
    border-radius: 10px;
    border-color: rgb(101, 125, 245); 
}
button:hover{
     background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}
p{
    font-size: 15px;
}
